NEXT_PUBLIC_URL=http://localhost:3000
BETTER_AUTH_SECRET=chave_aleatória

POSTGRES_USER=dice
POSTGRES_PASSWORD=dice
POSTGRES_DB=projectdice

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_DOMAIN=
